<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%c:%M:%L] - %m%n</Pattern>
		</encoder>
	</appender>
	<logger name="com.yeon" level="DEBUG" />
	
	<!-- Spring Loggers -->
	<!--<logger name="org.springframework.core" level="WARN" />
	<logger name="org.springframework.beans" level="WARN" />
	<logger name="org.springframework.context" level="WARN" />-->
	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="org.springframework.orm" level="DEBUG" />
	<logger name="org.springframework.transaction" level="DEBUG" />
	<logger name="org.springframework" level="INFO" />
	
	<!-- View Logger -->
	<logger name="org.apache.tiles" level="DEBUG" />
	<logger name="freemarker.ext.servlet" level="DEBUG" />
	
	<!-- Start JPA Logger -->
	<logger name="com.mchange.v2" level="DEBUG" />
	<logger name="org.hibernate.pretty" level="DEBUG" />
	<logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" />
	<logger name="org.hibernate.cache" level="DEBUG"/>
	<logger name="org.hibernate.SQL" level="DEBUG"/>
	<logger name="org.hibernate.type" level="DEBUG"/>
	<logger name="com.mchange.v2" level="INFO" />
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>