<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ @(#)security-context.xml $version 2011. 9. 28.
  ~
  ~ Copyright 2011 NHN Corp. All rights Reserved.
  ~ NHN PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <!--
    <import resource="classpath*:/seller-login-api/selleradmin/security-context-base.xml" />
         -->
</beans>
